/* 主页右侧 */
.container .homepage-wrapper .homepage-right {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  flex: 1;
  height: calc(100vh - 90px);
  background: linear-gradient(to bottom, #212121, #212121, #121212, #121212, #121212, #121212);
}
.container .homepage-wrapper .homepage-right::-webkit-scrollbar{
  display: none;
}
.container .homepage-wrapper .homepage-right .nav-wrap{
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100vw - 309px);
  height: 60px;
  border-radius: 20px 20px 0 0;
  margin-right: 5px;
  background-color: #121212;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
.container .homepage-wrapper .homepage-right .nav-wrap .nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 15px;
  border-radius: 20px;
  color: #121212;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  margin-right: 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}