/* 主页右侧 */
.container .homepage-wrapper .homepage-right {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  flex: 1;
  height: calc(100vh - 82px);
  /* background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%); */
  background: linear-gradient(to bottom, #212121, #212121, #121212, #121212, #121212, #121212);
}
.container .homepage-wrapper .homepage-right::-webkit-scrollbar{
  display: none;
}

/* 导航栏 */
.container .homepage-wrapper .homepage-right .nav-wrap{
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  border-radius: 20px 20px 0 0;
  background-color: #121212;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
  z-index: 4;
}

.container .homepage-wrapper .homepage-right .nav-wrap .headSculpture{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.container .homepage-wrapper .homepage-right .nav-wrap .headSculpture:hover{
  cursor: pointer;
}

.container .homepage-right .right-content-wrap{
  display: flex;
}

/* 用户详细信息 */
.container .homepage-right .userInfoWrap{
  position: fixed;
  top: 65px;
  z-index: 3;
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(445px);
  right: 5px;
  width: 400px;
  height: calc(100vh - 190px);
  border-radius: 30px;
  padding: 20px;
  background-color: #191919;
  -webkit-transform: translateX(445px);
  -moz-transform: translateX(445px);
  -ms-transform: translateX(445px);
  -o-transform: translateX(445px);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.container .homepage-right #show{
  transform: translatex(0);
  -webkit-transform: translatex(0);
  -moz-transform: translatex(0);
  -ms-transform: translatex(0);
  -o-transform: translatex(0);
}

.container .homepage-wrapper .homepage-right .userInfoWrap::-webkit-scrollbar{
  display: none;
}

.container .homepage-right .userInfoWrap .user{
  display: flex;
  padding: 0 0 30px 0;
}

.container .homepage-right .userInfoWrap .user .userInfoHeadSculpture{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.container .homepage-right .userInfoWrap .user .usersecond{
  width: 100%;
  margin-left: 20px;
}

.container .homepage-right .userInfoWrap .user .usersecond .nameLevel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}

.container .homepage-right .userInfoWrap .user .usersecond .nameLevel .username {
  font-size: 16px;
}

.container .homepage-right .userInfoWrap .user .usersecond .nameLevel #vip{
  width: 50px;
  height: 30px;
  margin-top: 3px; 
}

.container .homepage-right .userInfoWrap .user .usersecond .nameLevel .userlevel{
  width: 40px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  padding: 0 2px;
  border-radius: 30px;
  border: 1px solid #fff;
  font-size: 12px;
}

.container .homepage-right .userInfoWrap .user .usersecond .nameLevel .EditProfile{
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0 5px;
  height: 240x;
  line-height: 24px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container .homepage-right .userInfoWrap .user .usersecond .nameLevel .EditProfile:hover{
  cursor: pointer;
}
.container .homepage-right .userInfoWrap .user .usersecond .nameLevel .EditProfile:active{
  /* background-color: ; */
}

.container .homepage-right .userInfoWrap .user .usersecond hr {
  border-width: 1px 0 0 0;
  margin: 15px 0 10px 0;
}

.container .homepage-right .userInfoWrap .user .usersecond .RegionalageWrap{
  display: flex;
  font-size: 12px;
  /* background-color: red; */
}

.container .homepage-right .userInfoWrap .user .usersecond .RegionalageWrap span{
  margin-right: 25px;
}

/* 听歌排行 */
.container .homepage-right .userInfoWrap .ListeningchartWrap{
  width: 100%;
  padding: 0 0 20px 0;
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .ListeningchartWrapFlex{
  display: flex;
  justify-content: space-between;
  padding: 5px 0 10px 0;
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .ListeningchartWrapFlex .ListeningchartTitle{
  font-weight: 400;
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .ListeningchartWrapFlex .ListeningcharCount{
  font-size: 12px;
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .ListeningchartWrapFlex .ListeningchartLastWeek,
.container .homepage-right .userInfoWrap .ListeningchartWrap .ListeningchartWrapFlex .ListeningchartAllevents{
  font-size: 12px;
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart{
  width: 100%;
  border: 1px solid #878787;
  border-top: 2px solid #1fdf64;
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart li{
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 15px;
  /* background-color: red; */
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart li:nth-child(even){
 background-color: rgba(255, 255, 255, 0.05); 
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart li:hover{
 background-color: rgba(255, 255, 255, 0.15); 
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart li .ListeningchartOrder{
  font-size: 14px;
  padding-right: 10px;
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart li button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: 1px solid #1fdf64;
  border-radius: 50%;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart li .ListeningchartSongname{
  font-size: 12px;
  font-weight: bold;
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.7);
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart li .ListeningchartSongname:hover,
.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart li .ListeningchartArName:hover{
  text-decoration: underline;
  cursor: pointer;
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart li .ListeningchartArName{
  font-size: 11px;
  padding: 0 5px;
}

.container .homepage-right .userInfoWrap .ListeningchartWrap .Listeningchart li span{
  font-size: 11px;
}

/* 我创建的歌单 */
.container .homepage-right .userInfoWrap .playlistIcreated{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  overflow-y: scroll;
  width: 100%;
  height: 120px;
  padding: 10px 0;
  border-top: 2px solid #1fdf64;
}

.container .homepage-right .userInfoWrap .playlistIcreated::-webkit-scrollbar{
  display: none;
}

.container .homepage-right .userInfoWrap .playlistIcreated li:hover{
  cursor: pointer;
}

.container .homepage-right .userInfoWrap .playlistIcreated li a{
  display: block;
}

.container .homepage-right .userInfoWrap .playlistIcreated li a img{
  width: 100px;
  height: 100px;
}

.container .homepage-right .userInfoWrap .playlistIcreated li a .txtplaylistName{
  width: 100px;
  height: 16px;
  padding: 3px 2px;
  font-size: 12px;
}

/* 播放列表 */
.container .homepage-right .userInfoWrap .playingList .playQueueTitle{
  color: #fff;
  padding: 0 0 15px 0;
}

.container .homepage-right .userInfoWrap .playingList #songsNumber{
  font-size: 10px;
}

.container .homepage-right .userInfoWrap .playingList #list{
  height: calc(100vh - 230px);
  overflow-y: scroll;
}

.container .homepage-right .userInfoWrap .playingList #list::-webkit-scrollbar{
  display: none;
}

.container .homepage-right .userInfoWrap .playingList ul li{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 5px 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container .homepage-right .userInfoWrap .playingList ul li:nth-child(odd){
  background-color: rgba(255, 255, 255, 0.02); 

}

.container .homepage-right .userInfoWrap .playingList ul li:hover{
 background-color: rgba(255, 255, 255, 0.15);
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -ms-border-radius: 5px;
 -o-border-radius: 5px;
}

.container .homepage-right .userInfoWrap .playingList ul li #information{
  display: flex;
    align-items: center;
    width: 140px;
    height: 50px;
    font-size: 14px;
    color: #fff;
}

.container .homepage-right .userInfoWrap .playingList ul li #information #orderWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 50px;
}
.container .homepage-right .userInfoWrap .playingList ul li #information #orderWrap #order{
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.container .homepage-right .userInfoWrap .playingList ul li #information-count{
  width: 50px;
  line-height: 50px;
  font-size: 12px;
  color: #fff;
}
.container .homepage-right .userInfoWrap .playingList ul li #information-zj{
  width: 80px;
  line-height: 50px;
  font-size: 12px;
  color: #fff;
}

.container .homepage-right .userInfoWrap .playingList ul li #information .pic{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.container .homepage-right .userInfoWrap .playingList ul li #information .pic img{
  width: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container .homepage-right .userInfoWrap .playingList ul li #information .xx{
  height: 50px;
  line-height: 50px;
}

.container .homepage-right .userInfoWrap .playingList ul li #information #information-name{
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    color: #fff;
    font-weight: bold;
}

.container .homepage-right .userInfoWrap .playingList ul li #information #playlistSinger{
  width: 80px;
    height: 25px;
    line-height: 20px;
    font-size: 11px;
    margin-left: 5px;
}

.container .homepage-right .userInfoWrap .playingList ul li #information #playlistSinger #singerName:hover{
  text-decoration: underline;
  cursor: pointer;
}