.Lyrics-page{
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: opacity 0.5s, ease 0.5s;
  z-index: 5;
  -webkit-transition: opacity 0.5s, ease 0.5s;
  -moz-transition: opacity 0.5s, ease 0.5s;
  -ms-transition: opacity 0.5s, ease 0.5s;
  -o-transition: opacity 0.5s, ease 0.5s;
  overflow: hidden;
}

.Lyrics-page .lyricBgImage{
  position: absolute;
  z-index: -1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 70s linear infinite;
  width: 2500px;
  height: 2500px;
  background-image:url(https://s4.music.126.net/style/web2/img/default/default_album.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-filter: blur(70px) !important;
  -webkit-animation: spin 70s linear infinite;
}

@keyframes spin {
  from {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}



/* 顶部返回主页 */
.Lyrics-page #returnToPageWrap{
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  background-color: #000;
}

.Lyrics-page #returnToPageWrap #returnToPage{
  width: 50px;
  border: 0;
  background-color: transparent;
}

.Lyrics-page #returnToPageWrap #returnToPage:hover{
  cursor: pointer;
}

/* 左边歌曲信息 */
.Lyrics-page .lyricInfoWrap{
  position: relative;
  z-index: 5;
  display: flex;
  width: 100%;
  height: calc(100vh - 30px);
}

.Lyrics-page .lyricInfoWrap .musicInfoWrap{
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.Lyrics-page .lyricInfoWrap .musicInfoWrap .musicInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%; 
  max-width: 600px;
  min-height: 550px;
}

.Lyrics-page .lyricInfoWrap .musicInfoWrap .musicInfo .picWrap{
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.Lyrics-page .lyricInfoWrap .musicInfoWrap .musicInfo .picWrap #pic{
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 20px 70px #656563;
}

.Lyrics-page .lyricInfoWrap .musicInfoWrap .musicInfo #songName{
  width: 70%;
  font-size: 1.5vw;
  font-weight: bold;
  color: #FDFAF7;
  padding: 5px 0;
}

.Lyrics-page .lyricInfoWrap .musicInfoWrap .musicInfo #playbarsinger{
  width: 70%;
  font-size: 1.2vw;
  color: #C5C0BD;
}

.Lyrics-page .lyricInfoWrap .musicInfoWrap .musicInfo #playbarsinger a:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* 控制台 */
.Lyrics-page .lyricInfoWrap .console{
  display: flex;
  height: 30%;
}

.console .Music-control{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.console .Music-control .audio-player {
  position: relative;
  width: 70%;
  margin: 10px;
}

.console .Music-control .audio-player .progress-bar {
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #A6A5A1;
  cursor: pointer;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.console .Music-control .audio-player .progress-bar .progress-ball {
  position: relative;
  top: -8px;
  left: -10px;
  right: 100%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.console .Music-control .audio-player .progress-bar:hover .progress-ball {
  opacity: 1;
}


.console .Music-control .audio-player .progress-bar .progress {
  height: 100%;
  background-color: #fff;
  width: 0%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.console .Music-control .audio-player .progress-bar:hover .progress{
  background-color: #1fdf64;
}

.console .Music-control .audio-player .time{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

.console .Music-control .audio-player .time #currentTime{
  color: #fff;
}

.console .Music-control .audio-player .time #duration{
  color: #fff;
}

.console .Music-control audio{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: none;
}

.console .Music-control .lyricBtns {
  width: 60%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

audio::-webkit-media-controls-start-playback-button {
  display: none;
}

.console .Music-control audio::-webkit-media-controls {  
  overflow: hidden !important  
}  
.console .Music-control .playerbtn{
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 50px;
}

/* 按钮区域 */

.console .Music-control #playMode{
  display: flex;
}

.console .Music-control button{
  border: 0;
  background-color: transparent;
}
.console .Music-control .playerbtn #suspend{
  display: none;
}
.console .Music-control .playerbtn .icon{
  width: 2vw;
  height: 2vw;
}
.console .Music-control #playMode .icon{
  width: 1vw;
  height: 1vw;
}
.console .Music-control #lyricVolume .icon{
  width: 1vw;
  height: 1vw;
}
.console .Music-control button path{
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.console .Music-control button:hover path{
  fill: #fff;
}
.console .Music-control button:active path{
  fill: #b3b3b3;
}
.console .Music-control #lyricVolume{
  display: flex;
  align-items: center;
}

.console .Music-control #lyricVolumeControl{
  -webkit-appearance: none;
  position: absolute;
  top: -90px;
  width: 20px;
  height: 100px;
  writing-mode: bt-lr;
  appearance: slider-vertical;
  
}

/* 右边歌词 */
.Lyrics-page .lyricInfoWrap #lyric-wrap{
  position: relative;
  z-index: 5;
  flex: 3;
  display: flex;
  justify-content: center;
  width: 60%;
  height: calc(100vh - 30px);
  overflow-y: scroll;
  text-align: center;
}

.Lyrics-page .lyricInfoWrap #lyric-wrap::-webkit-scrollbar {
  display: none;
}

.Lyrics-page .lyricInfoWrap #lyric-wrap .lyric {
  font-size: 5vh;
  font-weight: 600;
  padding-right: 50px;
}

.Lyrics-page .lyricInfoWrap #lyric-wrap .lyric li {
  padding: 30px 0;
  transition: all .8s;
  height: 5vh;
  line-height: 5vh;
  letter-spacing: 0.2em;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -ms-transition: all .8s;
  -o-transition: all .8s;
}

.active{
  color: #fff !important;
  text-align: center;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
}

#lyricshow{
  transform: translateY(-100vh);
  -webkit-transform: translateY(-100vh);
  -moz-transform: translateY(-100vh);
  -ms-transform: translateY(-100vh);
  -o-transform: translateY(-100vh);
}