.container .homepage-right .Recommended-playlists .title{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 30px 30px 0;
}
.container .homepage-right .Recommended-playlists ul{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 30px;
    padding: 30px;
}
.container .homepage-right .Recommended-playlists ul li{
    padding: 15px;
   border-radius: 10px;
   background-color: #161616;
   overflow: hidden;
   transition: 0.7s;
}

.container .homepage-right .Recommended-playlists ul li:hover{
    background-color: #282828;
}

.container .homepage-right .Recommended-playlists ul li a{
    display: block;
    height: 100%;
}
.container .homepage-right .Recommended-playlists ul li a:hover{
    cursor: pointer;
}
.container .homepage-right .Recommended-playlists ul li a .pic{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.container .homepage-right .Recommended-playlists ul li a .pic img {
    width:100%;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
}
.container .homepage-right .Recommended-playlists ul li a .pic #playAll {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 68%;
    background-color: #1ED760;
    color: #000;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 0;
    opacity: 0;
    box-shadow: 0 5px 30px;
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    
}
.container .homepage-right .Recommended-playlists ul li .pic:hover #playAll{
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  top: 68%;
  opacity: 1;
}
.container .homepage-right .Recommended-playlists ul li a .pic #playAll svg{
    width: 20px;
}
.container .homepage-right .Recommended-playlists ul li a .pic #playAll:hover{
    cursor: pointer;
}
.container .homepage-right .Recommended-playlists ul li a .pic #playAll:active{
    background-color: #169c46;
}
.container .homepage-right .Recommended-playlists ul li a .text-list{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 13px;
    padding: 0 10px;
}