.container .homepage-wrapper .homepage-right .nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  border-radius: 20px 20px 0 0;
  background-color: #121212;
}
.container .homepage-wrapper .homepage-right .nav-wrap .search-wrap{
  display: flex;
  width: calc(100vw - 340px);
  margin-left: 20px;
}
.container .homepage-wrapper .homepage-right .nav-wrap .search-icon{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 35px;
    height: 45px;
    border-radius: 25px 0 0 25px;
    background-color: #242424;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    -ms-border-radius: 25px 0 0 25px;
    -o-border-radius: 25px 0 0 25px;
}
.container .homepage-wrapper .homepage-right .nav-wrap .search {
  width: 300px;
  height: 45px;
  color: #fff;
  font-size: 14px;
  padding: 0 10px;
  border: none;
  border-radius: 0px 25px 25px 0;
  outline: none;
  background-color: #242424;
  -webkit-border-radius: 0px 25px 25px 0;
  -moz-border-radius: 0px 25px 25px 0;
  -ms-border-radius: 0px 25px 25px 0;
  -o-border-radius: 0px 25px 25px 0;
}
.container .homepage-wrapper .homepage-right .popularSearches-History {
  display: none;
  position: fixed;
  /* z-index: 100; */
  top: 60px;
  width: 330px;
  z-index: 2;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(24, 24, 24, 1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.container .homepage-wrapper .homepage-right .popularSearches-History .searcWrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .homepage-wrapper .homepage-right .popularSearches-History .searcWrap .clearbtn{
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.container .homepage-wrapper .homepage-right .popularSearches-History .search-title{
  font-size: 14px;
  border-left: 3px solid #1fdf64;
  padding-left: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.container .homepage-wrapper .homepage-right .popularSearches-History .searchMod{
  display: flex;
  flex-wrap: wrap;
}

.container .homepage-wrapper .homepage-right .popularSearches-History .searchMod li{
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  margin: 5px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #242424;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container .homepage-wrapper .homepage-right .popularSearches-History .searchMod li:hover{
  cursor: pointer;
}

.container .homepage-wrapper .homepage-right .songlist{
  /* position: relative; */
  z-index: 1;
}
